In [3]:
import os
import pandas as pd
import numpy as np
import pickle

In [4]:
df = pd.read_csv('./data/dict_based.csv')
df.head()

   index  label
0      0      1
1      1      0
2      2      0
3      3      0
4      4      0

In [5]:
with open('./data/train.txt') as f:
    line = f.readline().strip('\n')

In [6]:
x = "'eiei'"
# x = x.strip("'")
print(x)

'eiei'

In [32]:
def read_list_from_txt(path, mode='train'):
    with open(path) as f:
        lines = f.readlines()
    
    X = list()
    y = list()
        
    for line in lines:
        line = line.strip('\n')
        line = line[1:-1]
        sep = line.find(']') + 1 
        left = line[:sep].strip()
        left = left[1:-1]
        right = line[sep+1:].strip()

        words = []
        for word in left.split(','):
            word = word.strip()
            word = word.strip("'")
            words.append(word)
        

        right = right.replace('[','')
        right = right.replace('],', '|')
        right = right.replace('[', '')
        right = right.replace(']', '')
        right = right.replace(' ', '')

        labels = []
        tmp = right.split('|')
        for label in tmp:
            labels.append([int(e) for e in label.split(',')])
        y.append(labels)
            
        X.append(words)
        
        
    return X,y

def read_test():
    path = './data/test.txt'
    with open(path) as f:
        lines = f.readlines()
        
    X = []
    for line in lines:
        line = line[1: -2]
        line = line.split(', ')
        words = [e.strip("'") for e in line]
        X.append(words)
    return X

In [52]:
X,y = read_list_from_txt('./data/train.txt')

In [34]:
flatten_X = set()
tmp = []
ignore_word = ['.',' ','\\','!','?',',','(',')','\\\\']
for data in X:
    tmp.extend(data)
for data in tmp:
    if data not in ignore_word:
        flatten_X.add(data)

In [51]:
['.',' ','\\','!','?',',','(',')','\\\\\\\\']

['.', ' ', '\\', '!', '?', ',', '(', ')', '\\\\\\\\']

In [36]:
X_test = read_test()

In [43]:
flatten_X_test = []
tmp = []
ignore_word = ['.',' ','\\','!','?',',','(',')','\\\\']
for data in X_test:
    tmp.extend(data)
for data in tmp:
    if data not in ignore_word:
        flatten_X_test.append(data)

In [48]:
len(flatten_X_test)

51121

In [53]:
# for i in flatten_X_test:
#     if len(i) == 1:
#         print(i)

In [55]:
X = np.array(X)

In [62]:
np.save('./data/X_train.npy', X)

In [63]:
np.save('./data/y_train.npy', y)

In [65]:
y = np.load('./data/y_train.npy',allow_pickle=True)

In [66]:
y

array([list([[0, 1]]), list([[13, 14]]), list([[5, 6]]), ...,
       list([[3, 4]]), list([[2, 3]]), list([[4, 6]])], dtype=object)