In [33]:
import os
import pandas as pd
import numpy as np
import pickle

In [34]:
df = pd.read_csv('./data/dict_based.csv')
df.head()

   index  label
0      0      1
1      1      0
2      2      0
3      3      0
4      4      0

In [43]:
with open('./data/train.txt') as f:
    line = f.readline().strip('\n')

In [47]:
x = "'eiei'"
# x = x.strip("'")
print(x)

'eiei'

In [78]:
def read_list_from_txt(path):
    with open(path) as f:
        lines = f.readlines()
    
    X = list()
    y = list()
        
    for line in lines:
        line = line.strip('\n')
        line = line[1:-1]
        sep = line.find(']') + 1 
        left = line[:sep].strip()
        left = left[1:-1]
        right = line[sep+1:].strip()

        words = []
        for word in left.split(','):
            word = word.strip()
            word = word.strip("'")
            words.append(word)
        
        right = right.replace('[','')
        right = right.replace('],', '|')
        right = right.replace('[', '')
        right = right.replace(']', '')
        right = right.replace(' ', '')
        
        labels = []
        tmp = right.split('|')
        for label in tmp:
            labels.append([int(e) for e in label.split(',')])
        
        X.append(words)
        y.append(labels)
        
    return X,y

In [79]:
X,y = read_list_from_txt('./data/train.txt')

In [91]:
flatten_X = set()
tmp = []
ignore_word = ['.',' ','\\','!','?',',','(',')','\\\\']
for data in X:
    tmp.extend(data)
for data in tmp:
    if data not in ignore_word:
        flatten_X.add(data)

In [92]:
len(flatten_X)

1596